<div class="product-card">
  <div class="product-card__image" style="background-image: url('/assets/{{ product.image }}');">
  </div>
  <div class="product-card__content">
    <h3>{{ product.title }}</h3>
    <div class="product-card__price">${{ product.price }}</div>
    <p class="product-card__description">{{ product.description }}</p>
    {% if product.tags %}
      <div class="product-card__tags">
        {% for tag in product.tags %}
          <span class="product-card__tag">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
